.wrapper {
    max-width: 95%;
    margin: 0 auto;
    height: auto;
    background: linear-gradient(145deg, #fdfdfd, #f5f8ff);
    border: 4px solid #d7e2f3;
    border-radius: 24px;
    box-shadow:
            0 12px 28px rgba(0,0,0,0.08),
            inset 0 0 12px rgba(255,255,255,0.8);
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow: hidden;
    gap: 16px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
                115deg,
                rgba(255,255,255,0.45) 0%,
                rgba(255,255,255,0.12) 35%,
                rgba(255,255,255,0) 60%
        );
        pointer-events: none;
    }
}


.main {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
    max-width: 35%;
}
