.card {
    background: #ffffff;
    width: 170px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    font-weight: 500;
}

.input {
    margin-top: 2px;
    padding: 4px;
    font-size: .8rem;
    border: 1px solid #cfcfcf;
    border-radius: 6px;

    &:focus {
        outline: none;
        border-color: #555;
    }
}

.addBtn {
    margin-top: 4px;
    background: #222;
    color: white;
    padding: 6px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
    transition: 0.2s ease-in-out;

    &:disabled {
        background: #aaa;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background: #000;
    }
}
